data/
exports/
build/
.[e]nv
__pycache__/
*.pyc
job_10_annotations_2026_09_29_03_39_16_cvat for images 1.1.zip
job_11_annotations_2026_09_29_04_29_28_cvat for images 1.1.zip
job_13_annotations_2026_09_29_05_40_59_cvat for images 1.1.zip
job_13_annotations_2026_09_29_05_50_25_cvat for images 1.1.zip